header{
    display: flex;
    height: auto;
    justify-content: space-between;
    background-color: rgb(3, 13, 145);
    align-items: center;
    padding: 15px;
    flex-direction: column;
    background-image: url(../img/imgcabe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
